<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="/signup" method="post">
        <input type="text" name="username" required placeholder="Username"/>
        <input type="password" name="password" required placeholder="Password"/>
        <input type="text" name="favoriteQueen" required placeholder="Favorite Queen"/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>